*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    padding: 30px;
    flex-basis: 800px;
}

.img-container img{
    height: 400px;
    display: none;
    margin: auto;
}

.slider i{
    font-size: 40px;
}

.img-container .active{
    display: block;
}